<!DOCTYPE html>
<html lang="en" dir="ltr">

  <% include partials/head.ejs %>

  <body>
    <header class="header-main">
      <h1 class="title">get a room</h1>
    </header>
    <main class="main">

      <ul class="container-btns">
        <li><a id="one" class="btn" href="/room-1">languages</a></li>
        <!-- <li><a id="two" class="btn" href="/room-2">frameworks</a></li>
        <li><a id="three" class="btn" href="/room-3">browsers</a></li> -->
      </ul>

    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>

  </body>

</html>
