<header class="header">
  <nav>
    <ul>
      <li class="back"><a class="back" href="/">terug</a></li>
    </ul>
  </nav>
  <div id="count">
    <ul>
      <li>JavaScript: <%= js %></li>
      <li>HTML: <%= html %></li>
      <li>CSS: <%= css %></li>
      <li>NodeJs: <%= node %></li>
    </ul>
  </div>
</header>
